$white: #FFFFFF;
$shadow: rgba(0, 0, 0, 0.1);
$shadowHover: rgba(0, 0, 0, 0.2);
$darkGreen: rgba(48, 255, 30, 0.2);
$green: #51E245;
$inactive: rgba(50, 182, 67, 1);
$active: rgba(41, 193, 79, 0.7);
$black: #2D2D2D;
$grey: #A9A9A9;
$lightGrey: rgba(229, 229, 229, 0.2);
$yellow: #FFD930;