@import '/src/styles/general.scss';


.cardList {
    margin: 0 auto;
    padding: 1rem;
    max-width: 77.06rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem 2rem;

    a {
        color: $black;
    }
}